<!-- <!DOCTYPE html>
<html>
<head>
    <title>Hello World Page</title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html> -->




<!DOCTYPE html>
<html>
<head>
    <title>Hello World Page</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Field 1: <span th:text="${field1}"></span></p>
    <p>Field 2: <span th:text="${field2}"></span></p>
    <p>Field 3: <span th:text="${field3}"></span></p>
    <p>Field 4: <span th:text="${field4}"></span></p>
    <p>Field 4: <span th:text="${field5}"></span></p>
</body>
</html>

